.accountForm .form,.input{
    margin: 1rem 0;
}
.input .inputItem{
    margin: 1rem 0;
    background-color: #F3F3F3;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
    height: 4rem;
    width: 26.3rem;
    border-radius: 0.4rem;

}
.form button{
display: flex;
align-items: center;
justify-content: center;
color: #63625E;
border: 0.1rem solid black;
background: transparent;
width: 20.3rem;
border-radius: 4rem;
}